{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/Signup.css' %}">
{% endblock %}

{% block content %}
<main>
  <div class="main-body">
    <div class="form">
      <ul>
        <li class="Employer"><a href="#"><i class="fa-regular fa-user"></i>Employer</a></li>
        <li class="Candidate"><a href="#"><i class="fa-solid fa-briefcase"></i>Seeker</a></li>
      </ul>
      <form action="">
        <input type="text" name="UserName" placeholder="Enter Your Username">
        <input type="email" name="email" placeholder="Enter Your Email Address">
        <input type="password" name="password" placeholder="Enter a password">
        <input type="password" name="confirm_password" placeholder="Confirm the password">
        <button type="submit">Sign Up</button>
      </form>
      <div class="registerNow">
        <p>You have An Account? <a href="login.html">Login!</a></p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
