{% extends 'baseGeneric.html' %}
{% load static %}

{% block title %}{{task}}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/ApplyTask.css' %}">
{% endblock %}

{% block content %}
<main>
  <div class="main-body">
    <div class="task-box">
      <ul>
        <li class="task-details">
          <h3>{{task.title}}</h3>
          <div class="task-info">
            <div class="price-location">
              <span class="price"
                ><i class="fas fa-dollar-sign"></i> {{task.budget}}</span
              >
              <span class="location"
                ><i class="fas fa-map-marker-alt"></i>{{task.location}}</span
              >
            </div>
            <div class="time-info">
              <span class="duration"
              {% load task_extras %}
                ><i class="far fa-clock"></i> {{ task|calculate_duration }} </span
              >
              <span class="deadline"
                ><i class="far fa-calendar-alt"></i> {{task.deadline}}</span
              >
            </div>
            <div class="applicants-info">
              <span class="applicants-count"
                ><i class="fas fa-users"></i> {{task.applicants.count}}</span
              >
            </div>
          </div>
          <p class="task-description">
            {{task.taskDescription}}
          </p>
        </li>
      </ul>
    </div>
    <div class="form">
      <div class="main-header">
        <h2>Apply For A Task</h2>
      </div>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <ul>
          <li class="Employer">
            <a href="#"><i class="fa-regular fa-user"></i>Has Disability</a>
          </li>
          <li class="Candidate">
            <a href="#"
              ><i class="fa-solid fa-briefcase"></i>Does not have
              Disability</a
            >
          </li>
        </ul>
        <input
          type="text"
          id="UserName"
          class="UserName"
          name="UserName"
          placeholder="Enter Your Name"
        />
        <input
          type="text"
          id="PastExperience"
          class="PastExperience"
          name="PastExperience"
          placeholder="Enter Your PastExperience"
        />
        <input
          type="text"
          id="price"
          name="price"
          placeholder="Enter Required Price"
        />
        <textarea
          id="Jop"
          class="Jop"
          name="Jop"
          placeholder="Enter Disability Description"
        ></textarea>
        <button type="submit" id="button">Apply</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
<script src="static/js/ApplyTask.js"></script>